In [2]:
import pandas as pd

df = pd.read_csv('data/train.csv')

In [45]:
df.groupby('hotel_id').filter(lambda x : len(x)>50)

                      image  chain  hotel_id            timestamp
7      800e7dd55ffa4056.jpg      2     60181  2018-06-07 20:38:43
8      8011ffce8971daa3.jpg     87     19657  2017-05-27 00:04:06
16     8028cf47a37b369d.jpg      0     35733  2019-08-22 01:48:33
41     80361761cd3d6f6a.jpg      0     35733  2019-08-30 01:39:12
58     803e49f1b398ecd3.jpg      6     37728  2019-02-11 17:37:49
...                     ...    ...       ...                  ...
97481  fffc8001cefe3021.jpg     78     48961  2016-10-18 01:20:17
97498  fffe14e0c01c3626.jpg      4     41325  2017-03-31 02:45:03
97520  ffff1322e08c1033.jpg     82      7046  2016-09-14 17:48:28
97534  ffff348083cb0d20.jpg      0     26131  2017-05-22 04:13:56
97550  ffff807480f58045.jpg      0     56160  2016-06-25 15:23:35

[13991 rows x 4 columns]